@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500&display=swap');
:root{
	--color-blue1:#1a2e35;
	--color-blue2: #263238;
	--color-blue3:#455a64;
	--color-orange:#ff725e;
	--color-orange2:#cc5b4b;
	
}

*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	outline: none;
	list-style: none;
	font-family: 'Comfortaa', cursive;
	color: var(--color-blue1);
}

/* -------- HEADER ---------*/
.header{
	width: 100%;
	height: 50px;
	position: fixed;
	z-index: 100;
	top: 0;
	background-color: var(--color-blue2);
	box-shadow: 1px 1px 10px 1px #3c3c3ccc;
}
.header-content{
	display: flex;
    height: 50px;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
}
.header__logo{
	/*width: 15%;*/
	height: 100%;
	flex-shrink: 0;
	/*display: flex;*/
	/*justify-content: center;
	align-items: center; */
}
.header__logo img{
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.social-media{
	position: relative;
	height: 100%;
}
.social-media__ul{
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 10px;
}

.social-media__ul-li{
	padding: 0px 10px;
}
.btn-login{
	background-color:var(--color-orange);
	color:#fff;
	font-weight: bold;
	text-shadow: 1px 1px 5px #0000006e;
	border: none;
	line-height: 13px;
	padding: 8px;
	border-radius: 15px;
	box-shadow: 1px 1px 5px #0000006e;
	transition: 0.5s;
}
.btn-login:hover{
	background-color: var(--color-orange2);
	transition: 0.5s;
}
.fa-brands, .fa-regular{
	font-size: 28px;
	font-weight: 300;
	animation-duration: 10s;
	--fa-animation-duration: 3s;
	--fa-animation-iteration-count:2;
	color: var(--color-orange);
}
.fa-brands:hover, .fa-regular:hover{
	color: var(--color-orange2);
	transition: 0.5s;
}

/* -------- BANNER	 ---------*/
.banner{
	width: 100%;
    margin: 0 auto;
    max-width: 1700px;
    position: relative;
    text-align: center;
    top: 70px;
    margin-bottom: 80px;
}
.banner__img{
	width: 70%;
	height: auto;
	z-index: 60;
}
.document-css{
	position: absolute;
    width: 9.59%;
    top: 19.8%;
    left: 70.2%;
}
.img-banner{
	width: 100%;
}
.document-html{
	position: absolute;
    width: 8.70%;
    top: 10.85%;
    left: 53.85%;
}
.document-js{
	position: absolute;
    width: 7.6%;
    top: 40.85%;
    left: 21.35%;
}
.dialog{
	position: absolute;
    width: 6.5%;
    top: 42.96%;
    left: 48.07%;
}
.scale{
	animation-name: scaledocument;
	animation-duration: 6s;
	animation-iteration-count: infinite;
	animation-timing-function: ease;
}

@keyframes scaledocument{
	0%{
		transform: scale(1);
	}
	30%{
		transform: scale(1.15);
	}
	50%{
		transform: scale(1);
	}
	80%{
		transform: scale(1.17);
	}
	100%{
		transform: scale(1);
	}
}
.mechanical-wheel{
	position: absolute;
    width: 16.6%;
    top: 24.85%;
    left: 38.35%;
    z-index: -20;
}
.rotate{
	animation-name: rotate;
	animation-duration: 6s;
	animation-iteration-count: infinite;
	animation-timing-function: ease;
}

@keyframes rotate{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}
.forma-anaranjada{
	position: absolute;
    width: 42%;
    top: 64%;
    left: -11%;
    z-index: -10;
}
/* -------- PERFIL ---------*/
.fit-profile{
	max-width: 1200px;
	margin: auto;
	line-height: 26px;
}
.bg-my-profile{
	margin: 5% 0;
	padding: 5%;
	background: #f5f5f5;
}
.bg{
    padding: 0 5%;
}
.my-profile{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}
.my-profile__img{
	width: 23%;
	margin-right: 30px;
}
.my-profile__img img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 100%;
	border: 5px solid var(--color-orange2);
	box-shadow: 2px 4px 18px #00000038;
}

.my-profile__title{
	margin: auto 0;
	flex-grow: 1;
}
.my-profile__title h1{
	text-transform:uppercase;
	font-family: 'Poppins', sans-serif;
	line-height: 40px;
}
.title{
	font-family: 'Poppins', sans-serif;
	text-transform:uppercase;
	font-weight: 500;
	color:var(--color-orange);
}
.footer{
	width: 100%;
	height: 50px;
	background-color: var(--color-blue2);
}